/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/docs
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db

# Docker
docker/mysql/data/
2026_06_24_212058_add_pagado_a_vet_to_citas_table

# Terraform
**/terraform/.terraform/
**/terraform/*.tfstate
**/terraform/*.tfstate.*
**/terraform/crash.log
**/terraform/.terraform.tfstate.lock.info
**/terraform/override.tf
**/terraform/override.tf.json
**/terraform/*_override.tf
**/terraform/*_override.tf.json
**/terraform/.terraform.lock.hcl