# =============================================================
# Ejemplo de Variables de Despliegue — GCP
# =============================================================
# Copia este archivo como terraform.tfvars y rellena tus datos.

project_id   = "tu-proyecto-gcp-id"
region       = "southamerica-west1"
zone         = "southamerica-west1-a"
machine_type = "e2-medium"

db_name          = "veterinaria"
db_username      = "vet_user"
db_password      = "cambiar_secreto_db"
db_root_password = "cambiar_secreto_root"

redis_password = "cambiar_secreto_redis"

app_key = "base64:..."

ghcr_image = "ghcr.io/serbrigue/veterinaria:main"

mail_username = "tu-correo@gmail.com"
mail_password = "tu-password-de-aplicacion-sin-espacios"
